<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Prg_13.Properties.Settings.student_masterConnectionString"
            connectionString="server=localhost;user id=admin;database=student_master;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
        <add name="Prg_13.Properties.Settings.student_masterConnectionString1"
            connectionString="server=localhost;user id=root;password=root;persistsecurityinfo=True;database=student_master"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>